* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffeb;
  font-family: "Arial", sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #000584;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffeb;
  border-radius: 10px;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding: 0 2%;
}

.supheader-wrapper {
  padding: 5px 0;
  background-color: #000584;
}

.supheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.supheader-tel {
  display: flex;
  align-items: center;
  color: white;
  font-family: serif;
  transition: all 0.1s linear;

  &:hover {
    scale: 1.1;
  }

  span {
    margin-left: 10px;
  }
}

.supheader-socials {
  display: flex;
  align-items: center;

  a {
    margin-left: 30px;
    transition: all 0.1s linear;

    &:hover {
      scale: 1.2;
    }

    img {
      width: 25px;
    }
  }
}

header {
  padding: 5px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #ffffeb;
  box-shadow: 0 2px 5px #000584;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-box {
  display: flex;
  align-items: center;
  gap: 20px;

  .logo img {
    width: 90px;
  }

  span {
    max-width: 260px;
    font-size: 24px;
    font-weight: bold;
    color: #000584;
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 30px;

  .header-list-item {
    .header-list-link {
      font-size: 20px;
      font-weight: 700;
      border-bottom: 2px solid transparent;
      color: #000584;

      &:hover {
        border-bottom: 2px solid #000584;
      }
    }
  }
}

.burger {
  display: none;
  transition: all 0.3s linear;

  span {
    width: 30px;
    height: 4px;
    display: block;
    transition: all 0.3s linear;
    background-color: #000584;

    &:nth-child(2) {
      margin: 2px 0;
    }
  }
}

.hero-wrapper {
  padding: 230px 0;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  max-width: 530px;
  font-size: 50px;
  color: white;

  span {
    color: #faff00;
  }
}

.hero-text {
  margin: 50px 0;
  max-width: 580px;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.hero-link {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #000584;
  background-color: #faff00;
  display: inline-block;
  transition: all 0.2s linear;

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 1;
  }
}

.news-wrapper {
  padding: 50px 0;
  background-color: #ffffeb;
}

.news-cards {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 50px;
  column-gap: 30px;
  flex-wrap: wrap;
}

.news-card {
  width: 350px;
  height: 450px;
  background-color: #3338db;
  /* background-image: linear-gradient(#f2ff00 50%, #07266f9d); */
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px #000584;
  position: relative;
}

.news-card-img {
  width: 100%;
  height: 52%;
  border-radius: 10px 10px 0 0;
}

.our-school-wrapper {
  padding: 100px 0;
  background-color: #3338db;
}

.news-card-title {
  padding: 15px;
  color: #ffffeb;
  letter-spacing: 2px;
  font-weight: 400;
}

.news-card-date {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #ffffeb;
}

.our-school-title,
.management-title,
.news-title,
.tutor-title {
  font-size: 32px;
  text-align: center;
  color: #faff00;
}

.news-title {
  color: #000584;
}

.our-school-line {
  width: 100%;
  height: 2px;
  margin: 50px 0;
  background-color: #faff00;
}

.our-school-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.our-school-item {
  text-align: center;
}

.our-school-item-count {
  padding: 10px 0;
  font-size: 50px;
  font-family: serif;
  font-weight: bold;
  color: #faff00;
}

.our-school-item-text {
  font-size: 20px;
  color: #faff00;
}

.management-wrapper {
  padding: 50px 0;
  background-color: #3338db;
}

.management-cards {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;
}

.management-card {
  width: 320px;
  height: 420px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(transparent 70%, #000584),
    url("../images/rahbariyat1.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.3s linear;
  box-shadow: 0 0 10px #000584;
  position: relative;
  overflow: hidden;
}

.management-card:hover {
  background-image: linear-gradient(transparent 10%, #000584),
    url("../images/rahbariyat1.jpg");
}

.management-card:nth-child(2) {
  background-image: linear-gradient(transparent 70%, #000584),
    url("../images/rahbariyat2.jpg");
}

.management-card:nth-child(2):hover {
  background-image: linear-gradient(transparent 10%, #000584),
    url("../images/rahbariyat2.jpg");
}

.management-card:nth-child(3) {
  background-image: linear-gradient(transparent 70%, #000584),
    url("../images/rahbariyat3.jpg");
}

.management-card:nth-child(3):hover {
  background-image: linear-gradient(transparent 10%, #000584),
    url("../images/rahbariyat3.jpg");
}

.management-card:nth-child(4) {
  background-image: linear-gradient(transparent 70%, #000584),
    url("../images/rahbariyat4.jpg");
}

.management-card:nth-child(4):hover {
  background-image: linear-gradient(transparent 10%, #000584),
    url("../images/rahbariyat4.jpg");
}

.management-card:nth-child(5) {
  background-image: linear-gradient(transparent 40%, #000584),
    url("../images/rahbariyat5.jpg");
}

.management-card:nth-child(5):hover {
  background-image: linear-gradient(transparent 10%, #000584),
    url("../images/rahbariyat5.jpg");
}

.management-card-title {
  color: white;
  margin-top: 95%;
  margin-bottom: 10px;
  transform: translateY(50px);
  transition: all 0.3s linear;
}

.management-card-text {
  color: white;
  transform: translateY(100px);
  transition: all 0.3s linear;
}

.management-card:hover .management-card-title,
.management-card:hover .management-card-text {
  transform: translateY(0px);
}

.tutor {
  padding: 50px 0;
  background-color: #3338db;
}

.tutor-list {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.tutor-item {
  width: 400px;
  height: 220px;
  padding: 20px;
  background-color: #ffffeb;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px 30px;
  cursor: pointer;

  &:hover {
    background-color: #ffff94;
  }
}

.tutor-item-title {
  color: #000584;
  font-size: 20px;
  white-space: wrap;
}

.tutor-item-img {
  width: 50%;
}

.map-wrapper {
  background-color: #3338db;
}

.map {
  height: 500px;
  position: relative;
}

.map-info {
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(to right, #3338db 75%, #00048400);
}

.map-info-title {
  max-width: 420px;
  margin: 50px 0;
  font-size: 32px;
  color: #faff00;
}

.map-info-box {
  margin: 20px 0;
  p:nth-child(1) {
    margin-bottom: 10px;
    font-size: 20px;
    color: #f2ff00;
  }
  p:nth-child(2) {
    color: #adb349;
  }
  a {
    color: #adb349;
    &:hover {
      color: #f2ff00;
    }
  }
}

.map-iframe {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 30px;
}

footer {
  padding: 30px 0;
  background-color: #000584;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-box {
  display: flex;
  align-items: center;
  gap: 20px;

  .footer-logo img {
    width: 90px;
  }

  span {
    max-width: 260px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffeb;
  }
}

.footer-inner-socials {
  display: flex;
  align-items: center;
  gap: 40px;
  a {
    img {
      width: 40px;
    }
  }
}

/* About html start*/
.about-hero {
  padding: 120px 0;
}
.about-hero-inner {
  position: relative;
}
.about-hero-text {
  width: 60%;
  margin-inline: auto;
  font-size: 22px;
  text-align: justify;
  color: #000584;

  span {
    display: block;
    margin: 30px 0;
  }
}

.about-hero-link {
  position: relative;
  top: -50px;
}
/* About html end */

/* Qabul html start */
.qabul-hero {
  padding: 50px 0 0 0;
  background-color: #3338db;
}

.qabul-inner {
  display: flex;
}

.qabul-card {
  width: 60%;
  padding: 20px;
  background-color: #ffffeb;
  border-radius: 20px;
}

.qabul-card-title {
  text-align: left;
  color: #000584;
}

.qabul-card-text {
  margin: 20px 0;
  color: #000584;
}

.qabul-card-img {
  width: 100%;
  border-radius: 20px;
}

.qabul-img {
  width: 500px;
}
/* Qabul html end */

/* Responsive design start */
@media (max-width: 1000px) {
  .qabul-card {
    width: 100%;
  }

  .qabul-img {
    display: none;
  }
}
@media (max-width: 900px) {
  .header-logo-box {
    gap: 15px;

    .logo img {
      width: 70px;
    }
  
    span {
      max-width: 220px;
      font-size: 20px;
    }
  }

  .header-list {
    .header-list-item {
      .header-list-link {
        font-size: 18px;
      }
    }
  }

  .hero-wrapper {
    padding: 100px 0;
  }

  .our-school-item {
    padding: 40px;
    width: 50%;
  }
  .map-info-box {
    p:nth-child(2) {
      max-width: 300px;
    }
  }

  .footer-logo-box {
    gap: 15px;
  
    .footer-logo img {
      width: 70px;
    }
  
    span {
      max-width: 220px;
      font-size: 20px;
    }
  }

  .tutor-item {
    width: 47%;
  }
}

@media (max-width: 800px) {
  .header-list {
    width: 60%;
    padding: 20px 0;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: #faff00;
    transition: all 0.4s linear;
    transform-origin: left top;
    transform: scale(0) rotate(180deg);
  }

  .header-list--active {
    transform: scale(1) rotate(0);
  }

  .burger {
    display: block;
  }

  .burger--active {
    transform: translateX(5px);
    span {
      &:nth-child(1) {
        transform: rotate(42deg) translateY(8px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-42deg) translateY(-8px);
      }
    }
  }
}

@media (max-width: 700px) {
  .map {
    height: auto;
    display: flex;
    flex-direction: column;
    position: static;
  }

  .map-info {
    width: 100%;
    height: auto;
    position: static;
  }

  .map-info-title {
    max-width: 80%;
    margin-inline: auto;
    text-align: center;
  }

  .map-info-textarea {
    width: 80%;
    margin-inline: auto;
  }

  .map-info-btn {
    display: block;
    margin-inline: auto;
  }

  .map-iframe {
    width: 100%;
    height: 300px;
    position: static;
  }

  .about-hero {
    padding: 80px 0;
  }

  .about-hero-text {
    width: 90%;
    font-size: 20px;

    span {
      margin: 20px 0;
    }
  }

  .about-hero-link {
    position: relative;
    top: -50px;
  }
}

@media (max-width: 600px) {
  header {
    padding: 5px 0;
  }

  .hero-wrapper {
    padding: 80px 0;
    text-align: center;
  }

  .hero-title {
    font-size: 40px;
    max-width: 100%;
  }

  .hero-text {
    max-width: 100%;
    font-size: 18px;
  }

  .our-school-wrapper {
    padding: 20px 0;
  }

  .our-school-title,
  .map-info-title,
  .tutor-title,
  .management-title,
  .news-title {
    font-size: 26px;
  }

  .map-info-title {
    max-width: 100%;
    margin: 30px 0;
  }

  .our-school-line {
    margin: 20px 0;
  }

  .our-school-item {
    padding: 40px 20px;
  }

  .footer-inner-socials {
    gap: 20px;
    a {
      img {
        width: 40px;
      }
    }
  }

  .tutor {
    padding: 0;
  }

  .tutor-list {
    justify-content: center;
  }

  .tutor-item {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .our-school-item-count {
    font-size: 34px;
  }

  .our-school-item-text {
    font-size: 16px;
  }

  .map-info-textarea {
    width: 100%;
  }

  .footer-inner {
    flex-direction: column;
  }

  .footer-inner-socials {
    width: 100%;
    margin-top: 30px;
    justify-content: space-around;
  }
}

@media (max-width: 400px) {
  .supheader-socials {
    a {
      margin-left: 20px;
    }
  }

  .header-logo-box {
    gap: 10px;

    .logo img {
      width: 60px;
    }
  
    span {
      max-width: 170px;
      font-size: 16px;
    }
  }

  .header-list {
    width: 100%;
  }

  .hero-wrapper {
    padding: 50px 0;
  }

  .hero-title {
    font-size: 34px;
  }

  .hero-text {
    font-size: 16px;
  }

  .news-card {
    width: 100%;
  }

  .our-school-item {
    width: 100%;
    padding: 20px;
  }

  .tutor-item {
    width: 100%;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
  }

  .tutor-item-img {
    width: 50%;
  }

  .qabul-hero {
    padding: 20px 0;
  }

  .qabul-card {
    padding: 10px;
  }

  .qabul-card-text {
    margin: 15px 0;
  }
}
